<cfscript>
	tweetData       = args.tweetData       ?: {};
	renderedBody    = args.renderedBody    ?: "";
	renderedReplies = args.renderedReplies ?: "";
</cfscript>
<cfoutput>
	<div class="tweet-body">
		#renderedReplies#
		#rereplace( renderedBody, "(\n|\r|\n\r)", "<br>", "all" )#
	</div>
</cfoutput>

